.facts {
  box-sizing: border-box;
  position: relative;
  padding: 100px 60px 50px;

  .swiper-wrapper {
    display: flex;
    width: auto;
    .swiper-slide {
      img {
        width: 100%;
      }
    }
  }

  &-title {
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
  }

  &-slide {
    padding: 0 40px;

    &-desc {
      margin-top: 40px;
      font-weight: normal;
      font-size: 27px;
      line-height: 32px;
      text-align: center;
      color: #fff;
      @media (max-width: 1024.98px) {
        font-size: 18px;
      }
    }
  }

  & > .swiper-button-prev,
  .swiper-button-next {
    color: #b78a3f;
  }

  & > .swiper-button-prev {
    left: 10px;
  }

  & > .swiper-button-next {
    right: 10px;
  }

  & > .swiper-button-disabled {
    opacity: 0;
  }

  &-pagination {
    display: flex;
    margin-top: 66px;
    justify-content: center;
    @media (max-width: 767.98px) {
      margin-top: 0;
      justify-content: space-around;
    }

    &-bullet {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid #b78a3f;
      opacity: 1;
      margin-top: 25px;
      transition: 0.3s background-color;

      margin: 0 20px;
      @media (max-width: 767.98px) {
        width: 12px;
        height: 12px;
        margin: 0;
      }
    }

    & > .swiper-pagination-bullet-active {
      background-color: #b78a3f;
    }
  }
}

.swiper-slide {
  @media (max-width: 767px) {
    opacity: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    height: max-content;
    .facts-slide-desc {
      margin-top: 21px;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      height: 40px;
    }
    &.swiper-slide-next {
      opacity: 0.5;
      .facts-slide-desc {
        display: none;
      }
    }

    &.swiper-slide-prev {
      text-decoration: none;
      opacity: 0.5;
      .facts-slide-desc {
        display: none;
        background: #e5e5e5;
      }
    }
    &.swiper-slide-active {
      opacity: 1;
      z-index: 9999;
      // img {
      //   transform: scale(1.4);
      // }
      p {
        margin-bottom: 35px;
        width: 200%;
        margin-left: -50%;
      }
    }
  }
  // @media (max-width: 724px) {
  //   max-height: 450px;
  // }
  // @media (max-width: 576px) {
  //   max-height: 379px;
  // }
  // @media (max-width: 400px) {
  //   max-height: 295px;
  // }
  // @media (max-width: 375px) {
  //   max-height: 280px;
  // }
}

.swiper-container {
  @media (max-width: 450px) {
    max-height: 310px;
  }
}
